* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-header {
  background: black;
  width: 100%;
  border: 2px solid #fff;
}
.img {
  display: block;
  margin: auto;
}
.buscar {
  background-color: #fff;
  border: 2px solid #ff4e00;
  border-radius: 26px;
  color: black;
  font-size: 18px;
  height: 40px;
  padding: 0px 20px;
  width: 70%;
  outline: none;
  display: block;
  margin: auto;
  margin-top: 20px;
}
::placeholder {
  color: black;
}
.menu {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
}
.menu a:hover {
  color: #ff4e00;
}
.main-header__link {
  position: absolute;
  padding: 11px;
  right: 1px;
  color: #fff;
}
.main-header__link:hover {
  color: #ff4e00;
}
.icon-header__btn {
  padding: 11px;
  position: absolute;
  color: #fff;
  text-decoration: none;
}
.icon-header__btn:hover {
  color: #ff4e00;
}
.main-header__txt {
  color: #fff;
  right: 1px;
}
/* <!-- ESTILO DE SLIDER PARA ASER QUE LA IMAGENES SE PASEN SOLA EN EL MENU SEGUNDARIO --> */
.container-slider {
  margin: 50px 0;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 500%;
  height: 450px;
  margin-left: -100%;
  position: relative;
}
.slider::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.slider__section {
  width: 100%;
  position: relative;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.slider__btn:hover {
  background: white;
}
.slider__bnt--left {
  left: 10px;
}
.slider__bnt--right {
  right: 10px;
}

.slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
}
.btn-shop {
  display: block;
  border: 1px solid #ff4e00;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  border-radius: 10px;
}
.btn-shop:hover {
  background: #ff4e00;
}
.slider__title {
  font-size: 2em;
  margin: 0;
}
.slider__txt {
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
}
/* ESTILOS DE LOS BLOGS-POST */
.blogs-main {
  display: grid;
}
.blogs-post-container {
  padding: 0 50px 40px;
}
.blogs-post-container h3 {
  border-bottom: 1px solid #ff4e00;
  padding-bottom: 20px;
  text-align: center;
}
.blogs-btn {
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 12px;
  background-color: #ff4e00;
  text-decoration: none;
  margin: 0 auto;
  font-family: sans-serif;
  color: #fff;
}
.blogs-btn:hover {
  background-color: #fff;
  color: #000000;
  font-size: 17px;
}

.blogs-post-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 5px;
}
.blogs-post-container .post-container h4 {
  margin-bottom: 10px;
  font-family: sans-serif;
}
.blogs-post-container .post-container img {
  width: 100%;
  border-radius: 20px;
}
.blogs-post-container .post-container p {
  margin-bottom: 17px;
  font-family: sans-serif;
}
/* <!-- TASAS DE VENTAS DE LOS PRODUTOS DE LAEPRESA --> */
main{
  width: 100%;
  height: auto;
  background-color: #faf8f7;
}
.main__exchenge-container{
  width: 100%;
  height: auto;
  padding-top: 88px;
  padding-bottom: 30px;
  text-align: center;
}
.main__exchenge-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main__exchenge-container h3{
  margin-bottom: 30px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 18px;
}
.main__exchenge-container p{
  margin-bottom: 30px;
 font-weight: 500;
 font-size: 18px;
 color: #757575;
 font-family: sans-serif;
}
/* Tablas */
.main__currency-table{
  width: 70%;
  min-width: 235px;
  max-width: 500;
  height: 360px;
  margin: 0 auto;
  font-family: sans-serif;
}
.main__currency-table .currency__table-titel{
  margin-bottom: 17px;
  font-weight: bold;
  color: #ff4e00;
}
.main__currency-table .currency__table-titel:hover{
  color: black;
}
.currency__table-container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.currency__table-container table{
  width: 100%;
  height: 100%;
}
.currency__table-container td{
  width: 50%;
  font-weight: 500;
  background-color: #fff;
}
.table__top-left{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
}
.currency__table-container .table__top-left{
  border-radius: 15px 0 0 0;
}
.currency__table-container .table__top-left{
  border-radius: 0 15px 0 0;
}
.currency__table-container .table__botto-left{
  border-radius: 0 0 0 15px;
}
.currency__table-container .table__botto-right{
  border-radius: 0 0 15px 0;
}
.currency__table-container .table__right{
  font-weight: normal;
  color: #757575;
}
.currency__table-container img {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}
.currency__table-data{
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: #000000;
  border-radius: 8px;
  text-align: center;
  box-shadow: 4px 4px 8px rgb(255, 196, 0).671;
}